pyecore>=0.11.6
pyecoregen>=0.4.3
lxml>=4.6.2
numpy>=1.19.4
flask>=1.1.2
flask-cors==1.10.3
flask-restx==0.2.0
waitress>=1.4.4
tinydb>=4.3.0
autodiscover>=0.0.3
environ-config==20.1.0
pip>=21.0.1
attrs>=20.3.0
pymongo>=3.11.3
pytz>=2021.1
toml>=0.10.2
Jinja2>=2.11.3
Werkzeug>=1.0.1
itsdangerous>=1.1.0
click>=7.1.2
setuptools>=53.0.0
MarkupSafe>=1.1.1
RestrictedPython>=5.1
aniso8601>=8.1.1
six>=1.15.0
jsonschema>=3.2.0
pyrsistent>=0.17.3
pycodestyle>=2.6.0